In [1]:
# iMPORT PACKAGES
import pandas as pd
import datetime as dt
import numpy as np

from datetime import timedelta

In [2]:
# READ FILE
inputFile = "dataset_mood_smartphone.csv"
df = pd.read_csv(inputFile, sep = ',')

In [3]:
# DATE TO DATETIME 
def getDate(x):
    return x.date()
    
df['date'] = pd.to_datetime(df['time'])
df['date'] = df['date'].apply(getDate)

In [4]:
print(min(df['date']))
print(max(df['date']))

print((max(df['date'])-min(df['date'])).days)

2014-02-17
2014-06-09
112

In [5]:
ind = df[(df['value']<0) & (df['variable'] != 'circumplex.arousal') & (df['variable'] != 'circumplex.valence')].index
df = df.drop(df.index[ind])

In [6]:
# MAKE PIVOT

dfGrouped = df.groupby(['id', 'date', 'variable'])['value'].agg(['mean', 'sum']).reset_index()
dfPivot = dfGrouped.pivot_table(index=['id','date'], columns='variable', values=['mean','sum'])

# only keep relevant variables
dfPivot = dfPivot[[('mean', 'activity'), ('mean', 'circumplex.arousal'), ('mean', 'circumplex.valence'), 
         ('mean', 'mood'), ('sum', 'appCat.builtin'), ('sum', 'appCat.communication'), 
         ('sum', 'appCat.entertainment'), ('sum', 'appCat.finance'), ('sum', 'appCat.game'), 
        ('sum', 'appCat.office'), ('sum', 'appCat.other'), ('sum', 'appCat.social'), ('sum', 'appCat.travel'),
        ('sum', 'appCat.unknown'), ('sum', 'appCat.utilities'), ('sum', 'appCat.weather'), ('sum', 'call'), 
         ('sum', 'screen'), ('sum', 'sms')]].reset_index()

# rename columns
cols = ['id', 'date','activity_mean', 'circumplex.arousal_mean',
       'circumplex.valence_mean', 'mood_mean', 'appCat.builtin_sum',
       'appCat.communication_sum', 'appCat.entertainment_sum',
       'appCat.finance_sum', 'appCat.game_sum', 'appCat.office_sum',
       'appCat.other_sum', 'appCat.social_sum', 'appCat.travel_sum',
       'appCat.unknown_sum', 'appCat.utilities_sum', 'appCat.weather_sum',
       'call_sum', 'screen_sum', 'sms_sum']
dfPivot.columns = cols

print(len(dfPivot))
dfPivot.head()

1973

,id,date,activity_mean,circumplex.arousal_mean,circumplex.valence_mean,mood_mean,appCat.builtin_sum,appCat.communication_sum,appCat.entertainment_sum,appCat.finance_sum,...,appCat.office_sum,appCat.other_sum,appCat.social_sum,appCat.travel_sum,appCat.unknown_sum,appCat.utilities_sum,appCat.weather_sum,call_sum,screen_sum,sms_sum
0,AS14.01,2014-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
1,AS14.01,2014-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,AS14.01,2014-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,2.0
3,AS14.01,2014-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0
4,AS14.01,2014-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [7]:
# ADD VALUES DAY AND WEEKDAY
df = dfPivot

def getDay(x):
    return x.days

def getWeekday(x):
    return x.weekday()

df['day'] = (df['date']-min(df['date']))
df['day'] = df['day'].apply(getDay)
df['weekDay'] = df['date'].apply(getWeekday)

df.head()

,id,date,activity_mean,circumplex.arousal_mean,circumplex.valence_mean,mood_mean,appCat.builtin_sum,appCat.communication_sum,appCat.entertainment_sum,appCat.finance_sum,...,appCat.social_sum,appCat.travel_sum,appCat.unknown_sum,appCat.utilities_sum,appCat.weather_sum,call_sum,screen_sum,sms_sum,day,weekDay
0,AS14.01,2014-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,0,0
1,AS14.01,2014-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,1
2,AS14.01,2014-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,2.0,2,2
3,AS14.01,2014-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,3,3
4,AS14.01,2014-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4

In [8]:
# FILL NAN VALUES OF CERTAIN COLUMNS WITH 0 
df[['activity_mean','circumplex.arousal_mean', 'circumplex.valence_mean', 'appCat.builtin_sum',
       'appCat.communication_sum', 'appCat.entertainment_sum',
       'appCat.finance_sum', 'appCat.game_sum', 'appCat.office_sum',
       'appCat.other_sum', 'appCat.social_sum', 'appCat.travel_sum',
       'appCat.unknown_sum', 'appCat.utilities_sum', 'appCat.weather_sum',
       'call_sum', 'screen_sum', 'sms_sum']] = df[['activity_mean', 'circumplex.arousal_mean', 
        'circumplex.valence_mean', 'appCat.builtin_sum',
       'appCat.communication_sum', 'appCat.entertainment_sum',
       'appCat.finance_sum', 'appCat.game_sum', 'appCat.office_sum',
       'appCat.other_sum', 'appCat.social_sum', 'appCat.travel_sum',
       'appCat.unknown_sum', 'appCat.utilities_sum', 'appCat.weather_sum',
       'call_sum', 'screen_sum', 'sms_sum']].fillna(0)

df.head()

,id,date,activity_mean,circumplex.arousal_mean,circumplex.valence_mean,mood_mean,appCat.builtin_sum,appCat.communication_sum,appCat.entertainment_sum,appCat.finance_sum,...,appCat.social_sum,appCat.travel_sum,appCat.unknown_sum,appCat.utilities_sum,appCat.weather_sum,call_sum,screen_sum,sms_sum,day,weekDay
0,AS14.01,2014-02-17,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0,0
1,AS14.01,2014-02-18,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1
2,AS14.01,2014-02-19,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,0.0,2.0,2,2
3,AS14.01,2014-02-20,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,3,3
4,AS14.01,2014-02-21,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,4

In [9]:
print(df['mood_mean'].isna().sum())
print(len(df))

705
1973

In [10]:
""" 
#df.to_csv('out.csv', index = False)

df = pd.read_csv('out.csv', sep = ',')
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].apply(getDate)
df.head()
"""

" \n#df.to_csv('out.csv', index = False)\n\ndf = pd.read_csv('out.csv', sep = ',')\ndf['date'] = pd.to_datetime(df['date'])\ndf['date'] = df['date'].apply(getDate)\ndf.head()\n"

In [11]:
## ADD TIME COLUMNS

timePeriods = 5 
colNames = df.columns.values

for timePeriod in range(1,timePeriods+1):
    for colname in colNames:
        if (colname != "id") and (colname != "date"):
            df[colname+"_time_"+str(timePeriod)] = df.groupby('id')[colname].rolling(window=timePeriod, min_periods = 1).mean().reset_index().iloc[:,2]
        
print(len(df))

1973

In [12]:
for j in range (1,10):
    curColumn = []
    curColumn5DaysMood = []
    normalCounter = 0
    curID = ""
    counterCurJMood = 0
    counterJmoodLast5Days = 0
    for i in range(len(df[['id','mood_mean']])):
        curRow = (df[['id','mood_mean']].iloc[i])
        if normalCounter == 5:
            counterJmoodLast5Days = 0
        
        if curID != curRow['id']:
            curID= curRow['id']
            normalCounter=0
            counterJmoodLast5Days=0
            counterCurJMood = 0
        if (float(curRow['mood_mean']) >= j and float(curRow['mood_mean']) < j+1):
            counterJmoodLast5Days += 1
        if (float(curRow['mood_mean']) >= j):
            counterCurJMood = 0
        else:
            counterCurJMood += 1
        
        curColumn.append(counterCurJMood)
        curColumn5DaysMood.append(counterJmoodLast5Days)
    
    df['lastTimeSeenMood_'+str(j)] = curColumn
    df['numberOfTimesSeenMood5Days_'+str(j)] = curColumn5DaysMood

In [13]:
## NORMALISE 

for column in df.columns:
    if (column != "id") and (column != "date") and (column != "mood_mean"):
        df[column] = ((df[column]-df[column].min())/(df[column].max()-df[column].min()))

In [14]:
df.head()

,id,date,activity_mean,circumplex.arousal_mean,circumplex.valence_mean,mood_mean,appCat.builtin_sum,appCat.communication_sum,appCat.entertainment_sum,appCat.finance_sum,...,lastTimeSeenMood_5,numberOfTimesSeenMood5Days_5,lastTimeSeenMood_6,numberOfTimesSeenMood5Days_6,lastTimeSeenMood_7,numberOfTimesSeenMood5Days_7,lastTimeSeenMood_8,numberOfTimesSeenMood5Days_8,lastTimeSeenMood_9,numberOfTimesSeenMood5Days_9
0,AS14.01,2014-02-17,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.018182,0.0,0.018182,0.0,0.018182,0.0,0.012658,0.0,0.009901,0.0
1,AS14.01,2014-02-18,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.036364,0.0,0.036364,0.0,0.036364,0.0,0.025316,0.0,0.019802,0.0
2,AS14.01,2014-02-19,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.054545,0.0,0.054545,0.0,0.054545,0.0,0.037975,0.0,0.029703,0.0
3,AS14.01,2014-02-20,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.072727,0.0,0.072727,0.0,0.072727,0.0,0.050633,0.0,0.039604,0.0
4,AS14.01,2014-02-21,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.090909,0.0,0.090909,0.0,0.090909,0.0,0.063291,0.0,0.049505,0.0

In [15]:
# ADD (REAL) TARGET VALUE 

df['previousDay'] = df['date'] + timedelta(days = -1)

target = df[['id','previousDay', 'mood_mean']]
target.columns = ['id','date', 'mood_mean_TARGET']

df = df.set_index(['id','date']).join(target.set_index(['id','date'])).reset_index()

df = df.drop('previousDay', axis = 1)

print(len(df))

1973

In [17]:
#NORMALIZE MOOD MEAN
for column in df.columns:
    if (column == "mood_mean"):
        print()
        #df[column] = ((df[column]-df[column].min())/(df[column].max()-df[column].min()))

In [18]:
df.head()

,id,date,activity_mean,circumplex.arousal_mean,circumplex.valence_mean,mood_mean,appCat.builtin_sum,appCat.communication_sum,appCat.entertainment_sum,appCat.finance_sum,...,numberOfTimesSeenMood5Days_5,lastTimeSeenMood_6,numberOfTimesSeenMood5Days_6,lastTimeSeenMood_7,numberOfTimesSeenMood5Days_7,lastTimeSeenMood_8,numberOfTimesSeenMood5Days_8,lastTimeSeenMood_9,numberOfTimesSeenMood5Days_9,mood_mean_TARGET
0,AS14.01,2014-02-17,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.0,0.018182,0.0,0.018182,0.0,0.012658,0.0,0.009901,0.0,NaN
1,AS14.01,2014-02-18,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.0,0.036364,0.0,0.036364,0.0,0.025316,0.0,0.019802,0.0,NaN
2,AS14.01,2014-02-19,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.0,0.054545,0.0,0.054545,0.0,0.037975,0.0,0.029703,0.0,NaN
3,AS14.01,2014-02-20,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.0,0.072727,0.0,0.072727,0.0,0.050633,0.0,0.039604,0.0,NaN
4,AS14.01,2014-02-21,0.0,0.5,0.384615,NaN,0.0,0.0,0.0,0.0,...,0.0,0.090909,0.0,0.090909,0.0,0.063291,0.0,0.049505,0.0,NaN

In [ ]:
#df.to_csv("out_with_nan_mood.csv", index = False)

In [ ]:
#df.dropna(subset = ['mood_mean'] ).to_csv("out_without_nan_mood.csv", index = False)

In [ ]:
#df.dropna(subset = ['mood_mean_TARGET'] ).to_csv("out_without_nan_mood_target.csv", index = False)

In [ ]:
dfNonNan = df.dropna(subset = ['mood_mean_TARGET'] )

In [ ]:
## SHOW CORRELATIONS 
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
corr = dfNonNan.corr()
corr[['mood_mean_TARGET','mood_mean']].style.background_gradient(cmap='coolwarm')

In [ ]:
corr[abs(corr['mood_mean_TARGET'])>0.1]['mood_mean_TARGET'].sort_values()

In [ ]:
df = df.dropna(subset = ['mood_mean','mood_mean_TARGET'] ).reset_index(drop=True)
# Create test and train set by date
df = df.sort_values(by=['date'])
length_train = round(len(df)*0.67)
train = df[:length_train]
test = df[length_train:]
print(len(test), len(train))
# Create test and train set randomly
length_test = round(len(df)*0.33)
index_test = np.random.choice(np.arange(len(df)), length_test, False)

test = df.iloc[index_test]
train = df.drop(df.index[index_test])

#df.to_csv("out_without_nan_mood_normalised_extra_temp.csv", index = False)
test.to_csv("benchmark_test.csv", index = False)
#train.to_csv("out_without_nan_mood_normalised_extra_temp_train.csv", index = False)